@{
    ViewBag.Title = "About";
}

<style type="text/css">
    body {
        background: url(https://ak3.picdn.net/shutterstock/videos/4507895/thumb/1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>dy>
<div style="font-style:oblique; color:black; font-size:inherit; text-align:center">
    <h2 style="font-size:44px">Welcome to Gorin Grain Group!</h2>
    <h3>Interested in learning more?</h3>

    <p>Gorin Grain has been your partner in the field for over 75 years.  Serving the counties of Scotland, Clark, Knox and Lewis....we are were you are!</p>
    <p>We offer storage and drying services, as well as premium price contracts and trading advice for all of you selling needs.</p>
    <p>Please see the link above for a list of our locations, or click the contact link to see how to get in touch with a member of the staff!</p>
</div>

<div class="col-lg-12" style="font-style:normal; color:HighlightText; background-color:antiquewhite; text-align:center">
    <h2>United States Department of Agriculture</h2>
    <p>For current USDA stock reports, average yeild estimates, or information on subsidies, please click the link below to be view all USDA resources.</p>
    <p><a class="btn btn-default" target="_blank" href="https://www.usda.gov/">USDA &raquo;</a></p>
</div>


