@{
    ViewBag.Title = "Contact";
}
<h2>Looking for more information about our company?</h2>
<h3>Feel free to reach out to us, we are here for you!</h3>

<address>
    1245 Main St<br />
    Gorin, MO 63543<br />
    <abbr title="Phone">P:</abbr>
    660.555.0100
</address>

<address>
    <strong>General:</strong>   <a href="mailto:kboyer@goringrain.com">kboyer@goringrain.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@goringrain.com">Marketing@goringrain.com</a>
</address>

<div>
    <iframe frameborder="0" scrolling="no" height="192" width="500" allowtransparency="true" marginwidth="0" marginheight="0" src="https://sslcomrates.forexprostools.com/index.php?force_lang=1&pairs_ids=961618;959199;8918;8919;8915;8916;8917;&header-text-color=%23FFFFFF&curr-name-color=%230059b0&inner-text-color=%23000000&green-text-color=%232A8215&green-background=%23B7F4C2&red-text-color=%23DC0001&red-background=%23FFE2E2&inner-border-color=%23CBCBCB&border-color=%23cbcbcb&bg1=%23F6F6F6&bg2=%23ffffff&open=hide&last_update=hide"></iframe><br /><span style="font-size: 11px;color: #333333;text-decoration: none;">Commodities are powered by <a href="https://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span>
</div>